@import "variables.scss";
@mixin card($depth) {
    @if $depth < 1 {
        box-shadow: none;
    }
    @else if $depth>5 {
        @warn "Invalid $depth `#{$depth}` for mixin `card`.";
    }
    @else {
        box-shadow: bottom-shadow($depth), top-shadow($depth);
    }
}

@function top-shadow($depth) {
    $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
    $blur: nth(1.5 3 10 14 19, $depth) * 4px;
    $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));
    @return 0 $primary-offset $blur $color;
}

/// Computes a bottom-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
@function bottom-shadow($depth) {
    $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
    $blur: nth(1 3 3 5 6, $depth) * 4px;
    $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));
    @return 0 $primary-offset $blur $color;
}

body {
    background: #FAFAFA;
    padding-bottom: 70px;
    @media (max-width: 768px) {
        padding: 70px 15px;
    }
}

.button {
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    width: 160px;
    font-size: 16px;
    background-color: $main-color;
    box-shadow: 0px 0px 3px 1px rgba(0, 1, 1, 0.118);
    margin-top: 30px;
    border: none;
    transition: all 0.7s ease;
    position: relative;
    &:hover {
        text-decoration: none;
        color: #FFFFFF;
        &:before,
        &:after {
            transition: all 0.7s ease;
            width: 100%;
        }
    }
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0px;
        width: 0px;
        height: 2px;
        background: #FFFFFF;
        transition: all 0.4s ease;
    }
    &--accent {
        background-color: $accent-color;
        &:before,
        &:after {
            background: #FFFFFF;
        }
    }
}

.card-header {
    font-weight: 300;
    margin-bottom: 20px;
}

.container {
    @include card(2);
    transition: all 0.1s;
}

.container:hover {
    @include card(3);
}

.button:after {
    top: inherit;
    left: inherit;
    bottom: 0;
    right: 0;
}

pre {
    background-color: transparent;
    border: none;
}