@import "variables.scss";
@mixin timeline-box() {
    content: '';
    position: absolute;
    top: 13px;
    height: 23px;
    width: 0px;
    border: 10px solid transparent;
}

@mixin timeline-date() {
    position: absolute;
    top: 11%;
    width: 100%;
    font-size: 16px;
}

.resume {
    background-color: $card-color;
    padding: 25px 65px;
    position: relative;
    margin-bottom: 50px;
    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 0px;
        left: 50%;
        width: 4px;
        background: #d7e4ed;
        height: 100%;
        margin-left: -2px;
    }
}

.timeline {
    &__line {
        position: relative;
        margin: 25px 0px;
    }
    &__content--left::before {
        @include timeline-box();
        left: 100%;
        border-left: 16px solid #F1F1F1;
    }
    &__content--right::before {
        @include timeline-box();
        right: 100%;
        border-right: 16px solid #F1F1F1;
    }
    &__line::after {
        content: "";
        clear: both;
        display: table;
    }
    &__picture {
        background: $main-color;
        padding: 10px 12.5px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -26px;
        i {
            color: #FFFFFF;
            height: 25px;
            width: 25px;
            font-size: 25px;
        }
    }
    &__content--right,
    &__content--left {
        width: 45%;
        position: relative;
        padding: 25px;
        border-radius: 5px;
        background: #F1F1F1;
        box-shadow: 0.5px 0.5px 5px 0px #ddd
    }
    &__content--right {
        float: right;
    }
    &__date-left {
        @include timeline-date();
        left: 120%;
    }
    &__date-right {
        @include timeline-date();
        right: 33%;
    }
}